{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Логистическая регрессия для расчета стоимости жилья
    <form action="/p_lab2" method="POST">
    <p><input type="text" class="form_text" name="list11"> Длина чашелистика</p>
    <p><input type="text" class="form_text" name="list21"> Длина чашелистика</p>
    <p><input type="text" class="form_text" name="list31"> Длина чашелистика</p>
    <p><input type="text" class="form_text" name="list41"> Длина чашелистика</p>
    <p><input type="text" class="form_text" name="list51"> Длина чашелистика</p>
    <p><input type="text" class="form_text" name="list61"> Длина чашелистика</p>
    <p><input type="text" class="form_text" name="list71"> Длина чашелистика</p>
    <p><input type="text" class="form_text" name="list81"> Длина чашелистика</p>
    <p><input type="text" class="form_text" name="list91"> Длина чашелистика</p>
    <p><input type="text" class="form_text" name="list101"> Длина чашелистика</p>
    <input type="submit" class="form_btn" value="Узнать сорт">
    <h1>{{class_model}}</h1>
    </p>
</form>
{% endblock %}