{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Логистическая регрессия для расчета сдачи экзамена
    <form action="/p_lab2" method="POST">
    <p><input type="text" class="form_text" name="list11"> сдал или нет</p>
    <p><input type="text" class="form_text" name="list21"> сдал или нет</p>
    <p><input type="text" class="form_text" name="list31"> сдал или нет</p>
    <p><input type="text" class="form_text" name="list41"> сдал или нет</p>
    <p><input type="text" class="form_text" name="list51"> сдал или нет</p>
    <p><input type="text" class="form_text" name="list61"> сдал или нет</p>
    <p><input type="text" class="form_text" name="list71"> сдал или нет/p>
    <p><input type="text" class="form_text" name="list81"> сдал или нет</p>
    <p><input type="text" class="form_text" name="list91"> сдал или нет</p>
    <p><input type="text" class="form_text" name="list101"> сдал или нет</p>
    <input type="submit" class="form_btn" value="Узнать сорт">
    <h1>{{class_model}}</h1>
    </p>
</form>
{% endblock %}